body{

font-family:"Times new roman",serif;

font-size: 18px;

color: rgb(100,20,150);

background-color:rgb(100,20,150)

}

h2{

font-family:Forte;

}
p{

margin: 20px;

color: rgb(128,60,10);

}

header, footer{

font-family:Algerian,"Times new roman",serif;

font-size: 2.65em;

padding: 16px;

color: maroon;

background-color: blue;

text-align: center;

margin: 5px;

}

img{

height:100px;

width:100px;

}

section.a{

margin: 5px;

padding: 10px;

background-color: #cc99ff;

}

section.b{

margin: 5px;

padding: 10px;
  background-color: violet;

}

section.c{

margin: 5px;

padding: 10px;

background-color: pink;

}

section.d{

margin: 5px;

padding: 10px;

background-color: #aaccaa;

}

nav ul{

padding: 3px;

margin: 5px;

background-color: #cce5ff;

}

nav ul li{

padding: 3px;

margin: 5px;

list-style-type: disc;

list-style-position:inside;

color: rgb(106,17,37);

}
